.react-select__option:nth-child(1) {
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.react-select__option:nth-last-child(1) {
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}
.react-select__menu,
.react-select__menu-portal {
	@apply !z-[99999];
}

.react-select__group:last-child {
	padding-bottom: 0px !important;
}

.react-select__group:not(:last-child) .react-select__option {
	border-radius: 0px !important;
}

.react-select__group:last-child .react-select__option {
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
}

.react-select__menu-list {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	z-index: 99999;
}

.react-select__control {
	min-height: 32px !important;
	max-height: 32px !important;
}

.react-select__input-container {
	margin: 0px !important;
	padding-top: 0px !important;
	padding-bottom: 0px !important;
}
